/*
*{
    background-color: bisque;
}

h2{
    color: green;
}

.h1-text{
    color: red;
}

#h1-id{
    color: blue;
}

h1,h2,p{
    font-size: 35px;
}


body{
    background-image: url(Mash_Kolkata2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    border-style: solid;
}

*/

.my-div{
    height: 100px;
    width: 100px;
    background-color: bisque;
    border-radius: 1px 50px 1px 50px;
}
